/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-rows:1fr 1fr ;
	grid-template-columns:1fr 1fr 1fr;
	gap:5px;
}
.grid-item{
	background-color:#f2f2f2;
	border:1px solid #ccc;
	text-align:center;
}
